
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#01703e,#000000) ;
    color: #ffffff;
}
header {
    background: linear-gradient(#022402,#01703e, #000000) ;
    padding: 15px;
    text-align: center;
}

.headlogo {
    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #06ab03;
    box-shadow: 1px 1px 10px #027101;
    border-radius: 10px;
    border-width: 2px;

}

header h1 {
    display: inline-block;
    border: 4px solid #000000;
    border-radius: 8px;
    padding: 10px 20px ;
    background-color: #0b0b0b;
    color:#15ce04;
    font-family: "Noto Serif Georgian";  

    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #04ff00;
    box-shadow: 1px 1px 10px #04ff00;
    border-radius: 100px;
    border-width: 2px;
}

header h2 {
    color: #ffffff;
}

header h3 {
    color:#ffffff
}

nav a {
    display: inline-block;       /* ლინკები პატარა ბლოკებად იქცეს */
    padding: 10px 20px;          /* ღილაკის შიგნით დაშორება ტექსტისა და ჩარჩოს შორის */
    margin: 10px;                 /* ღილაკებს შორის დაშორება */
    border: 2px solid #01703e;   /* მწვანე ჩარჩო */
    border-radius: 8px;          /* ოვალური კუთხეები */
    background-color: #0f1a12;   /* მუქი ფონი */
    color: #a2fa15;              /* ტექსტის ფერი */
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #04ff00;
    box-shadow: 1px 1px 10px #04ff00;
    border-radius: 100px;
    border-width: 2px;
}

nav a:hover{
    background-color: #04d20b;   /* მაუსის გადატარებისას მწვანე ფონი */
    color: white;
}

.head {
    display: block;
    padding: 10px;
    margin: 10px auto;
    max-width: 300px;
    text-align: center;
    border: 5px solid #2ea602;
    border-radius: 8px;
    background: linear-gradient(#022402,#01703e, #022402) ;
    color: #ffffff;
    font-size: 29px ;

    border-top-style: dotted; 
    border-bottom-style: dotted;
    border-color: #04ff00;
    box-shadow: 1px 1px 10px #04ff00;
    border-radius: 100px;
    border-width: 2px;

}


.registration {
    display: block;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border: 5px solid #346821;
    border-radius: 10px;
    background: linear-gradient(#022402,#01703e, #022402) ;
    color: #ffffff;
    font-size: 18px;
    box-shadow: 1px 1px 10px #04ff00;
    
}


.inputs {
    background-color: #0b4212;
    border: 2px solid #2ea602;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}



.submit {
    display: block;
    width: 400px;
    padding: 12px;
    margin: auto;
    border: 3px solid #2ea602;
    border-radius: 8px;
    background-color: #02a623;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background: #0f1a12;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #9fbfae;
}